In [2]:
import pandas as pd

hello

In [14]:
filepath="data.csv"
data_df = pd.read_csv(filepath)
data_df.describe()

       Unnamed: 0  danceability
count    5.000000      5.000000
mean     2.000000      0.365109
std      1.581139      0.361892
min      0.000000      0.076210
25%      1.000000      0.096277
50%      2.000000      0.132160
75%      3.000000      0.735185
max      4.000000      0.785713

In [8]:
data_df['danceability']

0    0.096277
1    0.785713
2    0.076210
3    0.132160
4    0.735185
Name: danceability, dtype: float64